# Xcode
/iOS\ Test/build/
/iOS\ Test/*.pbxuser
/iOS\ Test/!default.pbxuser
/iOS\ Test/*.mode1v3
/iOS\ Test/!default.mode1v3
/iOS\ Test/*.mode2v3
/iOS\ Test/!default.mode2v3
/iOS\ Test/*.perspectivev3
/iOS\ Test/!default.perspectivev3
/iOS\ Test/*.xcworkspace
/iOS\ Test/!default.xcworkspace
/iOS\ Test/*.moved-aside
/iOS\ Test/DerivedData
/iOS\ Test/.idea/
/iOS\ Test/xcuserdata/
/iOS\ Test/xcuserdata
/iOS\ Test/*.xccheckout
/iOS\ Test/*.xcuserstate
/iOS\ Test/*.xcbkptlist
/iOS\ Test/.DS_store
**/.DS_store

# Pods
Pods
/iOS\ Test/Pods
iOS\ Test/Pods